body {
  background-color: #ffc984;
  font-family: 'Suranna', serif;
  font-size: 18px;
}

img {
  max-height: 300px;
  max-width: 300px;
}

#sidesOrDrinks {
  display: none;
}

#drinksImg, #breadsticksImg {
  height: 300px;
  width: 300px;
}

#addDrinks, #addSticks {
  margin: 5% 34%;
}

#pizzaLogo {
  position: relative;
  height: 50px;
  width: 120px;
  left: 30%;
  top: 0;
}

.nav {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 15px;
}

.row {
  margin: 10%;
}

.panel {
  margin: 10px;
}
.panel-group .panel + .panel {
  margin-top: 10px;
}

.panel-heading {
  text-align: center;
}

.form-control {
  width: auto;
  height: 38px;
}

#submitButton {
  position: absolute;
  right: 20%;
  font-size: 18px;
}

#itemCount {
  display: none;
  position: fixed;
  right: 25%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
  background: #D9534F;
  color: white;
  text-align: center;
  font-weight: bolder;
  font: 14px Arial, sans-serif;
}

#cost {
  display: none;
  position: fixed;
  right: 25%;
  top: 4%;
  font-weight: bold;
}

@media (max-width: 980px) {
  #pizzaLogo {
    visibility: hidden;
  }
}
@media (max-width: 1480px) {
  #itemCount {
    visibility: hidden;
  }
}
